
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1f1f1;
}


input {
    display: block;
    height: 50px;
    width: 350px;
    margin: 10px;
    border-radius: 30px;
    padding: 10px;
    font-size: 10px 20px;
    border: 1px solid #000;
}

.container {
    padding: 20px;
    background-color: #e9a6168f;
    width: 420px;
    margin: 100px auto 0px auto;
}

.btn-submit {
    cursor: pointer;
    font-size: 20px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}